doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.datetimepicker.css')
    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/jquery.datetimepicker.js')
    script(type='text/javascript', src='/js/homework.js')
  body
    block content
    
    script(type="application/javascript", src="http://localhost:35729/livereload.js")
