extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				div.signup-wall
					form(class='ui form form-signin', action='/signup', method='POST')
						div.field
							input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
						div.field
							input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
						div.field
							input(type='email', name='email', class='form-control', placeholder='Email',required)
						div.field
							input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
						div.field
							input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
						button(class='btn btn-lg btn-primary btn-block', type='submit') Register
						span.clearfix

				if message != ''
					div.ui.error.message #{message}